<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <link rel="stylesheet" th:href="@{/admin1/assets/css/register.css}">
</head>
<body>
<div class="register-container">
  <h2>Register</h2>
  <form th:action="@{/register/submit-register}" method="post" th:object="${userDTO}">
    <div class="form-group">
      <label for="fullName">Full Name(*)</label>
      <input type="text" id="fullName" name="fullName" th:field="*{fullName}">
      <div th:if="${#fields.hasErrors('fullName')}" class="text-danger" th:errors="*{fullName}"></div>
    </div>

    <div class="form-group">
      <label for="email">Email(*)</label>
      <input type="email" id="email" name="email" th:field="*{email}">
      <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></div>
    </div>

    <div class="form-group">
      <label for="username">Username(*)</label>
      <input type="text" id="username" name="username" th:field="*{username}">
      <div th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}"></div>
    </div>

    <div class="form-group">
      <label for="password">Password(*)</label>
      <input type="password" id="password" name="password" th:field="*{password}">
      <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password(*)</label>
      <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}">
      <div th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger" th:errors="*{confirmPassword}"></div>
    </div>

    <div class="form-group">
      <label for="role">Role(*)</label>
      <select id="role" name="role" th:field="*{role}">
        <option value="" selected>Chọn vai trò</option>
        <option value="1">Admin</option>
        <option value="2">User</option>
      </select>
      <div th:if="${#fields.hasErrors('role')}" class="text-danger" th:errors="*{role}"></div>
    </div>

    <div class="form-group">
      <button type="submit">Register</button>
    </div>

    <div class="form-group message">
      <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
    </div>

  </form>
</div>
</body>
</html>
